{% extends "inicio/encabezado.html" %}

{% block titulo%} PRINCIPAL {%endblock%}

{% block imagen%}
	{%load static%}
	{%static 'inicio/images/casa.png'%}
{%endblock%}

{%block parte1%}
<!-- Contenido Principal-->
	 	<div class="page-content">


			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos </small></h3>
					
				</div>

				
				
			
			<!-- /Encabezado-->

				</div>
		</div>
{% endblock %}
	{% block contenido %}	
{% endblock %}